*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-size: 62.5%;
}

.header {
    font-size: 3rem;
}

.board {
    width: 21rem;
    height: 21rem;
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
}

.board__box{
    height: 6rem;
    width: 6rem;
    border: .2rem solid black;
}