* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Staatliches", cursive;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 5rem;
  text-shadow: 0.25rem 0.25rem 0 rgb(0, 0, 0, 0.6);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  background-color: #000;
}

.button {
  background-color: inherit;
  border: 0.3rem solid #000;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0 rgb(0, 0, 0, 0.6);
  margin: 0.5rem;
  transition: all ease 0.2s;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  transition: ease all 0.2s;
  font-size: 9rem;
  text-align: center;
}

.box:hover {
  cursor: pointer;
  background-color: #999;
}

.footer {
  margin-top: 1rem;
}

.input {
  font-size: 2rem;
  border: 0.25rem solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 0 rgb(0, 0, 0, 0.6);
  transition: all ease 0.2s;
}

.input:focus {
  outline: none;
  transform: translateY(-0.5rem);
}
